<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="https://cdn-icons-png.flaticon.com/512/2990/2990754.png" width="30" height="28"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'feed:index' %}">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'feed:post' %}">Add New Image</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">FAQ</a>
                  </li>
                <li class="nav-item">
                    <h5 class="px-4 header_h5 m-2 fst-italic fw-normal">Share your pictures here!</h5>
                </li>
                <li class="nav-item">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
